{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->
        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0">
            {% include 'includes/menu.html'  %}
            <div class="container-xxl bg-primary page-header">
            </div>
        </div>
        <!-- Navbar & Hero End -->
        <!-- Contact Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <div class="d-inline-block border rounded-pill text-primary px-4 mb-3">Admin</div>
                    <h2 class="mb-5">Sign In</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.3s">
                        <form action="" method="post" name="form_1" id="form_1">
{% csrf_token %}
{% if messages %}
<ul class="messages text-center">
{% for message in messages %}
 <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
 {% endfor %}
 </ul>
 {% endif %}
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                                        <label for="name">Email</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                                        <label for="email">Password</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Sign In</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->
        <!-- Footer Start -->
        {% include 'includes/footer.html'  %}
        <!-- Footer End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
{% endblock %}
{% block custom-js %}
<script src="{% static 'lib/validate/jquery.validate.min.js' %}"></script>
<script src="{% static 'lib/validate/additional-methods.min.js' %}"></script>
<script>
$(document).ready(function(){
$( "#form_1" ).validate({
 ignore: [],
 errorPlacement: function(error, element) {
error.insertAfter(element.parent());
},
  rules: {
     email: {
      required: true,
      email: true
    },
    password: {
      required: true,
    },
  }
});
});
</script>
{% endblock %}
